@page "/taskly"
@rendermode InteractiveServer

@using Taskly.Models

<PageTitle>Taskly</PageTitle>

<h3>Taskly</h3>

<div class="form">
    <input type="text" placeholder="Title" @bind="title"/>

    <br />

    <input type="text" placeholder="Summary" @bind="summary"/>

    <br />

    <input type="date" id="dueDate" @bind="dueDate" placeholder="YYYY-MM-DD" />

    <br />

    <select @bind="priority">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select>

    <br />

    <button @onclick="AddTask">Add</button>
</div>

<hr />

@if (!items.Any())
{
    <p><em>No tasks yet.</em></p>
}
else
{
    <ul>
        @foreach(var item in items)
        {
            <li>
                <input type="checkbox" @bind="item.IsDone" />
                <strong>@item.Title</strong> @item.Summary
                <br />
                Priority: <em>@item.Priority</em>,
                Due: @(item.DueDate.HasValue ? item.DueDate.Value.ToShortDateString() : "No due date")
                <br />
                <button @onclick="() => DeleteTask(item.Id)">Delete</button>
                <hr />
            </li>
        }
    </ul>
}

@code {
    private List<TasklyItem> items = [];

    private string title = string.Empty;
    private string summary = string.Empty;
    private string priority = "Low";
    private DateTime? dueDate = null;

    private void AddTask()
    {
        if (string.IsNullOrEmpty(title)   || 
            string.IsNullOrEmpty(summary) || 
            string.IsNullOrEmpty(priority))
        {
            return;
        }

        TasklyItem item = new()
        {
            Id = Guid.NewGuid(),
            Title = title,
            Summary = summary,
            Priority = priority,
            CreatedAt = DateTime.Now
        };

        if (dueDate.HasValue)
        {
            item.DueDate = dueDate;
        }

        items.Add(item);
    }

    private void DeleteTask(Guid id)
    {
        TasklyItem? item = items.Where(i => i.Id == id).FirstOrDefault();

        if (item is not null)
        {
            items.Remove(item);
        }
    }
}
